/* Stage */
#stage {
  background-image: url("https://i.postimg.cc/bNskDj3K/Net.jpg");
  height: 300px;
  width: 600px;
  border-radius: 10px;
}

#c {
  fill: #7c2c3b;
}

#o {
  fill: #2dafe5;
}

#y {
  fill: #f3d459;
}

#i {
  fill: #ffffff;
}

#come {
  fill: #7a263a;
  stroke: white;
}

#on {
  fill: #1bb1e7;
  stroke: white;
}

#you {
  fill: #f3d459;
  stroke: black;
}

#irons {
  fill: white;
  stroke: black;
}

.ball {
  width: 100px;
  height: 100px;
  background-image: url("https://i.postimg.cc/NjQXxmr4/Rectangle.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100%;
  position: absolute;
  left: 575px;
  top: 305px;
  z-index: 1;
}
